<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">      
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        {% block stylesheets %}
        <link rel="stylesheet" href="css/style.css">
        {% endblock %}
    </head>
    <body>
        
        <div class="container">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                    <a class="navbar-brand" href="#">Mon site auto</a>
                    </div>
                    <ul class="nav navbar-nav">
                    <!-- <li class="active"><a href="/auto">Accueil</a></li> -->
                    <li class="active"><a href="{{path('auto')}}">Accueil</a></li>
                    <li><a href="{{path('exemples')}}">Exemples</a></li>
                    <li><a href="{{path('donnees')}}">Données</a></li>
                    <li><a href="">Contact</a></li>
                    </ul>
                </div>
            </nav>
            {% block body %}{% endblock %}</div>    
        {% block javascripts %}{% endblock %}
    </body>
</html>